.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* LOGO */
.header__logo img {
  width: 50px;
}

/* NAVEGAÇÃO */
.header__nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 3rem;
  align-items: center;
}

.header__nav li {
  margin: 0;
}

.header__nav a {
  position: relative;
  color: #012852;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 8px 0;
  transition: color 0.3s ease;
}

.header__nav a:hover {
  color: #0056b3;
}

/* Link ativo com sublinhado elegante */
.header__nav a.active-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #0056b3;
  transition: all 0.3s ease-in-out;
}

/* USUÁRIO */
.header__user {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.header__user-name {
  color: #012852;
  font-size: 1.2rem;
}

/* BOTÃO DO USUÁRIO (caso queira usar icones depois) */
.header__user-button {
  margin-left: 2rem;
  padding: 0;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__user-button mat-icon {
  color: #012852;
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
  display: inline-flex;
  align-items: center;
}

.header__user-button-text {
  font-size: 0.9rem;
  color: #012852;
  margin-top: -0.2rem;
}
