<section class="home__feature-section">
  <h2 class="home__section-title">O que você pode fazer:</h2>
  <div class="home__feature-cards">
    <app-card
      title="Clientes"
      description="Consultar Clientes por CPF ou Matrícula."
      route="/cliente">
    </app-card>

    <app-card
      title="Propostas"
      description="Consultar e Configurar as Propostas."
      route="/proposta">
    </app-card>

    <app-card
      title="Usuários"
      description="Consulte e administre os Usuários de Busca."
      route="/usuario">
    </app-card>

    <app-card
      title="Base de Dados"
      description="Consulte e administre a Base de Dados."
      route="/base-dados">
    </app-card>
  </div>
</section>
